---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const tableaux = await getCollection("tableaux");
  return tableaux.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
---

<Layout pageTitle={entry.data.title}>
  <h1>{entry.data.title}</h1>

  <p class="infos">
    <span>{entry.data.dimensions}</span>
    
    <span>-</span>
    
    <span>
      {
        entry.data.date_created.toLocaleDateString(undefined, {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </span>
  </p>

  <img src=`/content${entry.data.image}` alt=`${entry.data.title}` />

  <p class="prix">{entry.data.price} euros</p>
</Layout>

<style lang="scss">
  h1 {
    @include font-title();
    text-align: center;
  }

  p.infos {
    margin-top: 1rem;
    text-align: center;
  }

  img {
    margin-top: 3rem;
    width: 100%;
    max-height: 100dvh;
    object-fit: contain;
  }

  p.prix {
    margin-top: 1rem;
    text-align: end;
  }
</style>
