---
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content"; // Import de 'render' ici !

export async function getStaticPaths() {
  const tableaux = await getCollection("tableaux");
  return tableaux.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;

const { Content } = await render(entry);
---

<Layout title={entry.data.title}>
  <main>
    <p class="date">
      {
        entry.data.date_created.toLocaleDateString(undefined, {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </p>

    <h1>{entry.data.title}</h1>

    <p class="dimensions">{entry.data.dimensions}</p>

    <img src=`/content${entry.data.image}` alt=`${entry.data.title}` />

    <p class="prix">{entry.data.price} euros</p>

    <section class="content">
      <Content />
    </section>
  </main>
</Layout>

<style lang="scss">
  p.date {
    margin-top: 5rem;
    text-align: center;
    color: $color-gray;
  }

  h1 {
    margin-top: 2rem;
    text-align: center;
    font-size: 64px;
    font-family: $fontface-bold;
  }

  p.dimensions {
    margin-top: 1rem;
    text-align: center;
    color: $color-gray;
  }

  img {
    margin-top: 5rem;
    width: 100%;
  }

  p.prix {
    margin-top: 1rem;
    text-align: end;
  }

  section {
    margin-top: 8rem;
    line-height: 1.5;
  }
</style>
